@media (max-width: 1260px) {

        .bigMeny {
                display: none;
        }

        #manubtn {
                display: block;
        }

        .logoimage {
                width: 200px;
        }

        .logo h1 {
                /* position: relative;
                left: -90px;
               font-size: 23px;
               margin: 0;
               padding: 0; */
               display: none;
        }

        .profileDiv p {
                width: 700px;
        }

        .serviceImg {
                display: block;
        }

        .street {
                font-size: 10px;
        }

        i {
                font-size: 10px;
        }

        .displayFlex {
                display: block;
        }

        .aboutServiceDiv1 p {
                display: flex;
                flex-wrap: wrap;
                width: 300px;
        }

        .carousel-wrapper {
                z-index: 1;
        }

        .sidenav {
                z-index: 9;
        }

        .Qalireyaimg {
                display: block;
                width: 100%;
                margin-top: 10px;
        }

        .QALEREYASpace {
                height: 400px;
        }


}



@media (max-width: 970px) {
        .navigator {
          margin-left: 10px;
          margin-bottom: -1px;
        }

        .locationDiv {
                margin-right: 20px;
        }

        .line p {
                font-size: 10px;
        }

        .line {
                margin-left: 50px;
                margin-right: 50px;
        }

        .dispalyFlex {
                flex-wrap: wrap;
        }

        .logo {
                height: 450px;
        }

        .tel1 {
                position: relative;
                left: 30px;
        }

        .saat {
                position: relative;
                left: 10px;
        }

        .vl {
                display: none;
        }

        .profileDiv p {
                font-size: 25px;
                margin-left: 50px;
                width: 200px;
        }

        .bulurImage {
                object-position: 80% 50%;
        }

        .profileDiv div {
                margin-left: 20px;
        }

        .aboutServiceDiv1 {
                position: absolute;
                top: 350px;
                left: -200px;

        }

        .aboutServiceDiv1 h2 {
                left: 210px;
        }

        .aboutServiceimg1 {
                width: 250px;
                opacity: 0.3;
                position: relative;
                top: -10px;
                left: 230px;
        }

        .aboutServiceDiv1 p {
                position: relative;
                width: 200px;
                left: 250px;
                top: -250px;
                font-weight: 600;
        }

        .aboutServiceDiv2 {
                position: absolute;
                top: 350px;
                left: -200px;

        }

        .aboutServiceimg2 {
                width: 200px;
                opacity: 0.3;
                position: relative;
                top: -10px;
                left: 230px;
        }

        .aboutServiceDiv2 p {
                position: relative;
                width: 200px;
                left: 250px;
                top: -200px;
                font-weight: 600;
        }

        .aboutServiceDiv2 h2 {
                left: 210px;
        }

        .aboutServiceDiv3 {
                position: absolute;
                top: 350px;
                left: -200px;

        }

        .aboutServiceDiv3 h2 {
                left: 210px;
        }

        .aboutServiceimg3 {
                width: 200px;
                opacity: 0.3;
                position: relative;
                top: -10px;
                left: 230px;
        }

        .aboutServiceDiv3 p {
                position: relative;
                width: 200px;
                left: 250px;
                top: -200px;
                font-weight: 600;
        }

        .aboutServiceDiv4 {
                position: absolute;
                top: 350px;
                left: -200px;

        }

        .aboutServiceDiv4 h2 {
                left: 250px;
                width: 250px;
        }

        .aboutServiceimg4 {
                width: 160px;
                opacity: 0.3;
                position: relative;
                top: 20px;
                left: 250px;
        }

        .aboutServiceDiv4 p {
                position: relative;
                width: 200px;
                left: 250px;
                top: -140px;
                font-weight: 600;

        }

        .aboutServiceMainDiv {
                margin-left: 5px;
        }

        .blurDiv p {

                font-size: 15px;
                padding: 20px;
        }

        .serviceCenter {
                width: 350px;
                height: 300px;
                border-radius: 10px;
        }

        .colseImage {
                width: 30px;
                top: -300px;
                right: -1px;
        }

        .click_Image1_Div {
                top: 100px;
                left: 1%;
        }

        .click_Image2_Div {
                top: 500px;
                left: 1%;
        }

        .click_Image3_Div {
                top: 860px;
                left: 1%;
        }

        .logo h1 {
                margin-left: 150px;
                margin-right: 0px;
        }

        .serviceImg img {
                width: 250px;
                height: 150px;
        }

        .zoomDiv img {
                position: relative;
                left: -40px;
                top: -10px;
                width: 60px;
                height: 60px;
        }

        .positionRelative {
                margin-bottom: -150px;
        }
        .container {
                max-width: 100%;

              }
              .bottom p{
                font-size: 8px;
                padding: 16px 11px 0px 11px;
              }
}